* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	min-height: 100%;
	margin: 0;
	position: relative; /* Cambiado de 'absolute' a 'relative' */
	background-color: rgb(156, 212, 178);
}

.error404 {
	text-align: center;
	font-family: fantasy;
}

/* Header */
header {
	width: 100%;
	height: 10vh;
	background-color: #d2b48c;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logoHeader {
	width: 120px;
}

.navHeader {
	width: 50%;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
}

.btnsHeader {
	display: flex;
	width: 100%;
	font-size: 1.5em;
	justify-content: space-between;
	margin-right: 1vw;
}

.btnsHeader li {
	list-style: none;
}

.btnsHeader a,
.btnsHeader li {
	color: white;
	transition: color 350ms ease;
}

.btnsHeader a:hover,
.btnsHeader li:hover {
	color: #5e3806;
	transition: color 350ms ease;
}

.iconsHeader {
	display: flex;
	color: white;
	justify-content: space-around;
	font-size: 1em;
}

.iconsHeader a {
	color: white;
	transition: color 350ms ease;
}

.iconsHeader a:hover {
	color: #5e3806;
	transition: color 350ms ease;
}

.iconsHeader li:hover {
	color: #5e3806;
	transition: color 350ms ease;
}

.liLogged {
	margin-right: 1vw;
}

/* Home */
.divSearch {
	display: flex;
	justify-content: center;
	align-items: center;
}

.btnSearch {
	background-color: crimson;
	border-color: crimson;
}

/* Logo */
.mainLogo {
	width: 15%;
	display: block;
	margin: auto;
}

/* Log In */
.logInWallpaper {
	background-image: url("../src/assets/images/wallpaper5.png");
	background-size: cover;
	background-position: center;
	height: 100vh;
}

.formLogIn {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.logInBlock {
	display: flex;
	flex-direction: column;
	width: 30em;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 1em;
	text-align: center;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	background-color: rgb(252, 193, 178);
}

.login,
.submitLogIn {
	padding: 0.5em;
	margin-bottom: 0.5em;
	border-radius: 0.3em;
	border: 0.1em solid #ccc;
	font-size: 1em;
	width: 100%;
}

.login:focus,
.submitLogIn:focus {
	outline: none;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.submitLogIn {
	background-color: #4b3e3e;
	color: white;
	cursor: pointer;
	margin-top: 0.5em;
}

.submitLogIn:hover {
	background-color: #745e5e;
}

/* Sign Up */
.signUpWallpaper {
	background-image: url("../src/assets/images/wallpaper6.jpg");
	background-size: cover;
	background-position: center;
	height: 100vh;
}

.formSignUp {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.signUpBlock {
	display: flex;
	flex-direction: column;
	width: 30em;
	border: 0.1em solid #ccc;
	border-radius: 0.2em;
	padding: 1em;
	text-align: center;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	background-color: rgb(252, 207, 178);
}

.signup,
.submitSignUp {
	padding: 0.5em;
	margin-bottom: 0.5em;
	border-radius: 0.3em;
	border: 0.1em solid #ccc;
	font-size: 1em;
	width: 100%;
}

.signup:focus,
.submitSignUp:focus {
	outline: none;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.submitSignUp {
	background-color: #4b3e3e;
	color: white;
	cursor: pointer;
	margin-top: 1em;
}

.submitSignUp:hover {
	background-color: #745e5e;
}

.error__message {
	display: block;
	padding-bottom: 1em;
	color: red;
}

/* Contact */
.contactWallpaper {
	background-image: url("../src/assets/images/wallpaper4.png");
	background-size: cover;
	background-position: center;
	height: 100vh;
}

.formContact {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.formBlock {
	display: flex;
	flex-direction: column;
	width: 30em;
	border: 1px solid #ccc;
	border-radius: 0.2em;
	padding: 1em;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	background-color: rgb(252, 178, 191);
}

.contact,
.submit {
	padding: 0.5em;
	margin-bottom: 0.5em;
	border-radius: 0.3em;
	border: 0.1em solid #ccc;
	font-size: 1em;
	width: 100%;
}

.contact:focus,
.submit:focus {
	outline: none;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

textarea {
	padding: 0.5em;
	border-radius: 0.3em;
	border: 0.1em solid #ccc;
	font-size: 1em;
	width: 100%;
	height: 100px;
}

.submit {
	background-color: #4b3e3e;
	color: white;
	cursor: pointer;
	margin-top: 1em;
}

.submit:hover {
	background-color: #745e5e;
}

/* Search */
.searchForm {
	display: flex;
	align-items: flex-start;
	justify-content: center;
}

.search,
.submitSearch {
	padding: 0.6em;
	margin-bottom: 0.5em;
	border-radius: 0.3em;
	border: 0.1em solid #ccc;
	font-size: 1em;
	width: 16vw;
}

.search:focus,
.submitSearch:focus {
	outline: none;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.submitSearch {
	background-color: #4b3e3e;
	color: white;
	cursor: pointer;
}

.submitSearch:hover {
	background-color: #745e5e;
}

/* DataHome */
.animeList {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	list-style: none;
	padding-bottom: 8em;
	margin: 0;
	min-height: 100vh;
}

.animeCard {
	margin: 1em;
	width: 16%;
	height: 50vh;
	display: flex;
	flex-direction: column;
}

.cardName {
	height: 5vh;
	width: 100%;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	font-size: 1em;
	color: #343434;
	font-weight: 700;
}

.animeImg {
	overflow: hidden;
}

.sortBy__Select {
	padding: 0.5em;
	font-size: 1em;
	border: 0.1em solid #ccc;
	border-radius: 0.3em;
	outline: none;
	cursor: pointer;
}

.sortBy__Select:hover {
	border-color: #888;
}

.sortBy__Select:focus {
	border-color: #4caf50;
	box-shadow: 0 0 4px #4caf50;
}

.filtersBox {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 1em;
	margin-top: 1em;
	border-radius: 0.3em;
}

.filtersBox input[type="checkbox"] {
	display: none;
}

.filtersBox label {
	display: inline-block;
	padding: 0.5em 1em;
	border: 0.1em solid #ccc;
	border-radius: 0.3em;
	color: #333;
	background-color: #fff;
	cursor: pointer;
	transition:
		background-color 0.3s,
		color 0.3s;
}

.filtersBox label:active {
	background-color: #45a049;
	color: white;
}

.filtersBox input[type="checkbox"]:checked + label {
	background-color: #45a049;
	color: white;
	border-color: #45a049;
	opacity: 0.5;
}

.checkboxBox {
	padding: 0.5em;
}

.homeBox {
	display: flex;
	justify-content: center;
	align-items: center;
}

.pagination {
	justify-content: space-around;
	position: absolute;
	width: 40%;
	bottom: 11vh;
	font-size: medium;
}

.boxScrollTop {
	position: fixed;
	bottom: 1em;
	right: 1em;
}

.activePageNumber {
	opacity: 0.5;
}

.activePageNumber,
.pageNumber {
	padding: 0.2em;
	padding-left: 0.5em;
	padding-right: 0.5em;
}

/* Anime Details */
.detailsDiv {
	max-width: 50em;
	margin: 0 auto;
	margin-top: 1em;
	margin-bottom: 1em;
	padding: 1em;
	background-color: #f9f9f9;
	border-radius: 0.3em;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* .detailsDiv h1 {
	text-align: center;
	margin-bottom: 10px;
}

.detailsDiv h2 {
	text-align: center;
	font-style: italic;
	margin-bottom: 20px;
} */

.imgSynopsis {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 0.5em;
}

.imgSynopsis img {
	max-width: 100%;
	max-height: 40em;
	border-radius: 0.5em;
	margin-top: 0.5em;
	margin-bottom: 1em;
}

.imgSynopsis p {
	text-align: justify;
	padding: 0 2em;
}

.detailsP {
	font-size: 1em;
	line-height: 1.6;
	background-color: #fff;
	padding: 1em;
	border-radius: 0.1em;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.detailsP button {
	padding: 0.5em 1em;
	background-color: #4caf50;
	color: white;
	border: none;
	border-radius: 0.3em;
	cursor: pointer;
	margin-bottom: 0.5em;
}

.detailsP button:hover {
	background-color: #45a049;
}

.detailsP button:focus {
	outline: none;
}

/* User Profile */
.userProfile {
	background-image: url("../src/assets/images/wallpaper2.jpg");
	background-size: cover;
	background-position: center;
	height: 100vh;
	padding: 2em;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
}

.pfInfo {
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 0.1em solid #ccc;
	border-radius: 0.3em;
	width: 50em;
	padding: 2em;
	margin-top: 10vh;
	background-color: #292323a9;
}

.defaultPfp {
	width: 10em;
	height: 10em;
	border-radius: 50%;
}

.userInfoBox {
	color: #ffffff;
	font-size: xx-large;
	margin-top: 1em;
	text-align: center;
}

/* Footer */
footer {
	width: 100%;
	background-color: #262c3a;
	position: relative;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logoFooter {
	width: 5em;
}

.mediaIcons {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.iconsFooter {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	color: white;
	font-size: 2em;
	column-gap: 2em;
	list-style: none;
}

.buttonsFooter {
	width: 100%;
	display: flex;
	justify-content: space-around;
	column-gap: 2em;
	font-size: 1.5em;
	list-style: none;
	color: #fff;
}

.buttonsFooter :last-child {
	margin-right: 1em;
}
