* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100vh;
    position: relative;
}

body {
    min-height: 100vh;
    margin: 0;
    position: relative;
}

/* Header */
header {
    width: 100%;
    height: 10vh;
    background-color: #D2B48C;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logoHeader {
    width: 120px;
}

.navHeader {
    width: 50%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.btnsHeader {
    display: flex;
    width: 100%;
    font-size: 25px;
    font-family: cursive;
    justify-content: space-between;
    margin-right: 10vw;

    li {
        list-style: none;
    }

    a,
    li {
        color: white;
        transition: color 350ms ease;
    }

    a:hover,
    li:hover {
        color: crimson;
        transition: color 350ms ease;
    }
}

.iconsHeader {
    display: flex;
    color: white;
    justify-content: space-around;
    width: 10%;
    font-size: 30px;

    a {
        color: white;
        transition: color 350ms ease;
    }

    a:hover {
        color: greenyellow;
        transition: color 350ms ease;
    }

    li:hover {
        color: greenyellow;
        transition: color 350ms ease;
    }
}

.liLogged {
    margin-right: 1vw;
}

/* Home */
.divSearch {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnSearch {
    background-color: crimson;
    border-color: crimson;
}

/* Search */
.searchForm {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.pagination {
    width: 100%;
    position: absolute;
    bottom: 10.9vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* DataJikan */
.animeList {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    padding-bottom: 8em;
    margin: 0;
}

.animeCard {
    margin: 1rem;
    width: 18rem;
    height: 30rem;
    display: flex;
    flex-direction: column;
}

.cardName {
    height: 40px;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 14px;
    color: #343434;
    font-weight: 700;
}

.animeImg {
    overflow: hidden;
}

/* Anime Details */
.detailsDiv {
    padding-bottom: 8em;
}

.imgSynopsis {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* .detailsP {
    white-space: pre-wrap;
} */

/* User Profile */
.userProfile {
    background-image: url("../src/images/wallpaper1.png");
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.defaultPfp {
    margin: auto;
    display: block;
    padding-top: 2em;
}

/* Footer */
footer {
    width: 100%;
    background-color: #262C3A;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logoFooter {
    width: 100px;
}

.mediaIcons {
    display: flex;
    align-items: center;
    justify-content: space-around;

    li {
        list-style: none;
    }
}

.iconsFooter {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: white;
    font-size: 25px;
    column-gap: 50px;
}

.navFooter {
    width: 40%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    column-gap: 150px;
    color: white;
}

.buttonsFooter {
    width: 100%;
    display: flex;
    justify-content: space-between;
    column-gap: 60px;
    font-size: 25px;
    font-family: cursive;
    margin-right: 4vw;

    li {
        list-style: none;
    }
}